<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>skeleton</title>
  </head>
  <body>
    <div class="item-with-background">
      <ngx-skeleton-loader
        count="5"
        [theme]="{
          'border-radius': '5px',
          height: '20px',
          'background-color': '#323232',
          border: '1px solid #323232'
        }"
      >
      </ngx-skeleton-loader>
    </div>
  </body>
</html>
